# Variables de entorno del frontend (Vite)
# Copia como client/.env.local y ajusta valores

VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=optrax-realm
# Client ID del cliente PÚBLICO del Auth Manager (para PKCE en el navegador)
VITE_KEYCLOAK_CLIENT_ID=auth-manager-frontend
VITE_ADMIN_ROLE=SUPER_ADMIN
VITE_VIEWER_ROLE=AUDITOR
